{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1>{{ title|lower }}</h1>
<p>Bienvenidos al hotel Pixelpro</p>
    <p>Alojando huéspedes desde hace {{ year }} años</p>
{% endblock %}
